<%- include('../includes/head.ejs') %>

<button style="display:none;" id="zoomInBtn">Zoom In</button>
<button style="display:none;" id="zoomOutBtn">Zoom Out</button>

<main>
	<nav class="flex">
		<a href="/" class="button"><i class="fa-solid fa-x"></i></a>
		<img class="party-badge" src="/img/paris-badge.jpg"/>
		<div class="game-rounds">
			<div class="round-count">2/13</div>
			<div class="round-phase first" data-tooltip="Expansion kaufen"><i class="fa-solid fa-coins"></i></div>
			<div class="round-phase" data-tooltip="Mangel/Überfluss beinflussen"><i class="fa-solid fa-up-down"></i></div>
			<div class="round-phase" data-tooltip="Mühlen"><i class="fa-solid fa-house-circle-xmark"></i></div>
			<div class="round-phase" data-tooltip="Karten ziehen und kaufen"><i class="fa-solid fa-layer-group"></i></div>
			<div class="round-phase" data-tooltip="Karten spielen und ablegen"><i class="fa-solid fa-hand"></i></div>
			<div class="round-phase" data-tooltip="Fortschritte kaufen, Schiffe, stabilisieren"><i class="fa-solid fa-comment-dollar"></i></div>
			<div class="round-phase" data-tooltip="Expansionsphase"><i class="fa-solid fa-person-military-rifle"></i></div>
			<div class="round-phase" data-tooltip="Bonuskarte"><i class="fa-solid fa-money-bill-1"></i></div>
			<div class="round-phase" data-tooltip="Einkommen"><i class="fa-solid fa-sack-dollar"></i></div>
			<div class="round-phase" data-tooltip="Mangel/Überfluss würfeln"><i class="fa-solid fa-dice"></i></div>
		</div>
		<div class="btn-group">
			<button class="selective-interface-trigger" data-select-if="chat" data-tooltip="Chat"><i class="fa-regular fa-comment"></i></button>
			<button class="selective-interface-trigger" data-select-if="ship" data-tooltip="Schiffe"><i class="fa-solid fa-sailboat"></i></button>
			<button class="selective-interface-trigger" data-select-if="persons" data-tooltip="Persönlickeiten"><i class="fa-solid fa-person"></i></button>
			<button class="selective-interface-trigger" data-select-if="bioms" data-tooltip="Rohstoffpreise Mangel/Überfluss"><i class="fa-solid fa-boxes-stacked"></i></button>
			<button class="selective-interface-trigger" data-select-if="misery" data-tooltip="Elendsindex"><i class="fa-solid fa-poo"></i></button>
			<button class="selective-interface-trigger" data-select-if="order" data-tooltip="Reihenfolge"><i class="fa-solid fa-arrow-down-wide-short"></i></button>
			<button class="selective-interface-trigger" data-select-if="troop" data-tooltip="Truppen"><i class="fa-solid fa-person-military-rifle"></i></button>
			<button class="selective-interface-trigger" data-select-if="progress" data-tooltip="Fortschritte"><i class="fa-solid fa-table"></i></button>
		</div>
		<div id="gameStatus"></div>
	</nav>
	<input type="hidden" id="userInput" value="<%- user.name %>"/>

	<div id="interfaces">

		<div class="chat-wrap selective-interface" data-select-if="chat">
			<div id="chat" class="chat">
				<% messages.forEach(function(message) { %>
					<div class="message <%= user.name === message.sender.name ? 'own' : '' %>">
						<div class="sender"><%= message.sender.name %></div>
						<div class="message-content"><%= message.content %></div>
						<div class="timestamp"><%= message.formattedDate %>, <%= message.formattedTime %></div>
					</div>
				<% }); %>
			</div>

			<form id="chatForm" class="flex gap-2">
				<input type="hidden" id="gameId" value="<%= gameId %>">
				<input type="text" id="messageInput" class="flex-1 px-4 py-2 border rounded" placeholder="Sag was nettes...">
				<button type="submit" class="px-6 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Senden</button>
			</form>
		</div>

		<div class="ship-wrap selective-interface" data-select-if="ship">
			<% ships.forEach(function(ship) { %>
				<div class="<%= ship.size %>-ship-field" data-ship-index="<%= ship.index %>" data-ship="<%= ship.value %>"><label><%= ship.value %> <%= ship.label %></label><span><%= ship.value %></span></div>
			<% }); %>
		</div>
	
		<div class="persons-wrap selective-interface" data-select-if="persons">
			<div class="persons-bar">
			</div>
		</div>

		<div class="bioms-wrap selective-interface" data-select-if="bioms">
			<% bioms.forEach(function(biom) { %>
				<div class="biom-line">
					<div class="biom-item shortage-abundance">
						<div class="shortage <%= biom.className %>"><label>Mangel</label></div>
						<div class="abundance <%= biom.className %>"><label>Überfluss</label></div>
					</div>
					<div class="biom-item" style="background-color: <%= biom.color %>">
						<div><%= biom.revenues[0] %></div>
						<div><%= biom.name %></div>
						<div><%= biom.epoch %></div>
					</div>
					<% biom.revenues.forEach(function(rev) { %>
						<div class="biom-item" style="background-color: <%= biom.color %>">
							<div><%= rev %></div>
						</div>
					<% }); %>
				</div>
			<% }); %>
		</div>
	
		<div class="misery-wrap selective-interface" data-select-if="misery">
			<div class="misery-bar">
				<% miseries.forEach(function(misery) { %>
					<div class="misery-item" data-index="<%= misery.index %>"  style="background-color: <%= misery.color %>">
						<div><%= misery.value === 2000 ? 'Chaos' : misery.value %></div>
					</div>
				<% }); %>
			</div>
		</div>
	
		<div class="order-wrap selective-interface" data-select-if="order">
			<div class="order-bar">
				<div class="order-item">1</div>
				<div class="order-item">2</div>
				<div class="order-item">3</div>
				<div class="order-item">4</div>
				<div class="order-item">5</div>
				<div class="order-item">6</div>
			</div>
		</div>
	
		<div class="troop-wrap selective-interface" data-select-if="troop">
			<% troops.forEach((troop, index) => { %>
				<div class="troop-item" data-index="<%= index %>">
					<div class="troopcount">x<%= index %></div>
					<div><%= troop[`val_${userCount}`] || 'N/A' %> Dukaten</div>
				</div>
			<% }); %>
		</div>
	
		<div class="progress-wrap selective-interface" data-select-if="progress">
			<% for (const group in progresses) { %>
				<div class="progress-group">
					<h3><%= group %></h3>
					<div class="progress-group-list">
						<% progresses[group].forEach(function(progress) { %>
							<div class="progress-group-item">
								<strong><%= progress.name %></strong>
								<%= progress.cost %> Dukaten
								Nachlass <%= progress.discount %> Dukaten
								<%= progress.dependencies %>
								<%= progress.description %>
								<div>
									<% players.forEach(function(player) { %>
										<%- player.name %>
									<% }); %>
								</div>
								<div>
									<button>Für X kaufen</button>
								</div>
							</div>
						<% }); %>
					</div>
				</div>
			<% } %>
		</div>

	</div>

	<div id="mapwrap">
		<div id="map">
			<% regions.forEach(function(region) { %>
				<%- region.svgPath %>
			<% }); %></div>
		</div>
	</div>
	<div id="players-hand">
		<div>
			<h3><i class="fa-solid fa-sack-dollar"></i></i> 251</h3>
		</div>
	</div>
</main>

<%- include('../includes/end.ejs') %>