<%- include('../includes/head.ejs') %>

	<button style="display:none;" id="zoomInBtn">Zoom In</button>
	<button style="display:none;" id="zoomOutBtn">Zoom Out</button>

	<div class="water">
		<div class="caustics"></div>
		<div class="caustics"></div>
	</div>
	<main class="watermain">

		<div id="mapwrap">
			<div id="map">
				<% regions.forEach(function(region) { %>
					<%- region.svgPath %>
						<% }); %>
			</div>
		</div>
		<%- include('./game-nav.ejs') %>
		<%- include('./interfaces/interface-selector.ejs') %>
		<%- include('./players-hand') %>
	</main>

	<%- include('../includes/end.ejs') %>