<a id="back-button" href="/" class="button"><i class="fa-solid fa-x"></i></a>
<a id="back-button" class="throwdice button" style="left: 40px;">Würfeln</a>
<a id="back-button" class="button" data-name="barcelona" style="left: 90px;">B</a>
<a id="back-button" class="button" data-name="venezia" style="left: 110px;">V</a>
<a id="back-button" class="button" data-name="london" style="left: 130px;">L</a>
<a id="back-button" class="button" data-name="genoa" style="left: 150px;">G</a>
<a id="back-button" class="button" data-name="paris" style="left: 170px;">P</a>
<nav id="game-nav">
	<img class="party-badge" src="/img/paris-badge.jpg" />
	<div id="ducats">
		<label><i class="fa-solid fa-sack-dollar"></i></i> 251</label>
	</div>
	<div id="dices">
		<% dices.forEach(function(dice) { %>
			<div class="dice <%= dice.name %>" data-value="<%= dice.value %>"
				style="background-color: <%= dice.color %>;">
				<div class="dice-side one">
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
				</div>
				<div class="dice-side two">
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
				</div>
				<div class="dice-side three">
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
				</div>
				<div class="dice-side four">
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
				</div>
				<div class="dice-side five">
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
				</div>
				<div class="dice-side six">
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
					<div class="dot" style="background-color: <%= dice.dotColor %>;"></div>
				</div>
			</div>
			<% }); %>
	</div>
	<div class="game-rounds">
		<div class="round-count">2/13</div>
		<div class="round-phase first" data-tooltip="Expansion kaufen" data-tooltip-position="bottom"><i class="fa-solid fa-coins"></i></div>
		<div class="round-phase" data-tooltip="Mangel/Überfluss beinflussen" data-tooltip-position="bottom"><i class="fa-solid fa-up-down"></i>
		</div>
		<div class="round-phase" data-tooltip="Mühlen" data-tooltip-position="bottom"><i class="fa-solid fa-house-circle-xmark"></i></div>
		<div class="round-phase" data-tooltip="Karten ziehen und kaufen" data-tooltip-position="bottom"><i class="fa-solid fa-layer-group"></i>
		</div>
		<div class="round-phase" data-tooltip="Karten spielen und ablegen" data-tooltip-position="bottom"><i class="fa-solid fa-hand"></i>
		</div>
		<div class="round-phase" data-tooltip="Fortschritte kaufen, Schiffe, stabilisieren" data-tooltip-position="bottom"><i
				class="fa-solid fa-comment-dollar"></i></div>
		<div class="round-phase" data-tooltip="Expansionsphase" data-tooltip-position="bottom"><i
				class="fa-solid fa-person-military-rifle"></i></div>
		<div class="round-phase" data-tooltip="Bonuskarte" data-tooltip-position="bottom"><i class="fa-solid fa-money-bill-1"></i></div>
		<div class="round-phase" data-tooltip="Einkommen" data-tooltip-position="bottom"><i class="fa-solid fa-sack-dollar"></i></div>
		<div class="round-phase" data-tooltip="Mangel/Überfluss würfeln" data-tooltip-position="bottom"><i class="fa-solid fa-dice"></i></div>
	</div>
<input type="hidden" id="userInput" value="<%- user.name %>" />
</nav>

<div id="gameStatus"></div>