<%- include('../includes/head.ejs') %>

	<% if (user) { %>
		<nav class="flex">
			<div>Hallo, <%= user.name %></div>
			<div class="flex">
				<a href="/profile" class="button">Profil</a>
				<a href="/logout" class="button">Logout</a>
			</div>
		</nav>
		<main>
			<section>
				<a href="/new-game" class="button">Neues Spiel</a>
				<ul class="list flex col">
					<% games.forEach(function(game) { %>
						<li>
							<div>
								<h4><%= game.name %></h4>
							</div>
							<div>
								<%= game.state %>
							</div>
							<div>
								<%= game.last_action_at %>
							</div>
							<div>
								<a href="/game/<%= game._id %>" class="button">Öffnen</a>
							</div>
							<form action="/game/delete/<%= game._id %>" method="post" onsubmit="return confirm('Möchten Sie dieses Spiel wirklich löschen?');">
								<button type="submit" class="button delete">Löschen</button>
							</form>
						</li>
					<% }); %>
				</ul>
			</section>
		</main>
	<% } else { %>
		<div class="body-img-wrap">
			<img class="body-img" src="/img/login-screen.png"/>
		</div>
		<main class="light-main">
			<div class="card auth-wrap">
				<h1 class="text-center">Das Zeitalter der Renaissance</h1>
				<a class="button" href="/login">Starten</a>
			</div>
		</main>
	<% } %>

<%- include('../includes/end.ejs') %>